@media screen and (max-width: 1500px) {

    header {
        padding: 0 100px;
    }

}

@media screen and (max-width: 1200px) {
    header {
        padding: 0 50px;
    }
}

@media screen and (max-width: 1100px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
    }
    
    .section-2-image {

        display: none;

    }

    .header-social-picture {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: flex-start;
    }

    .social-element {
        position: static;
        top: 0;
        left: 0;
        transform: scale(75%);
        transition: all .35s ease-out;
        margin: -5px;

        background-color: transparent;
        border: none;
        backdrop-filter: none;
        box-shadow: none;

        padding: 0;
    }
    
    .social-element img {
        height: auto;
        width: 50px;

        filter: brightness(.5);
    }

    .github img {

        height: 40px;
        width: auto;

    }

    .social-element:hover {
        transform: scale(80%);
    }

    .mail {
        height: 50px;
    }

    .skills-wrapper {
        flex-wrap: wrap;
    }

    section {
        padding: 50px 50px;
    }
}

@media screen and (max-width: 920px) {
    header {
        padding: 0 50px;
        align-items: flex-start;
        width: 100vw;

    }

    .header-social-elements {
        width: auto;
        justify-content: flex-start;
    }

    .section-2-image {
        display: none;
    }

}

@media screen and (max-width: 650px) {

    header {
        padding-top: 100px;
    }

    .buttons-wrapper {
        flex-direction: column;
        gap: 15px;
    }

    .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .header-headlines {
        height: 2em;
        max-width: 80%;
    }

    .header-headline, .header-greetings {
        font-size: 2em;
    }

    .header-headline {
        height: 2em;
    }

    .header-description {
        font-size: 1.3em;
        max-width: 100%;
    }


    nav {
        padding: 50px;
    }

    .nav-blog-button {
        font-size: 3em;
    }

    .header-information {

        gap: 35px;

    }

    .header-information .spacer {
        display: none;
    }

    .section-about {

        padding-top: 50px;
        padding-bottom: 50px;
        min-height: none;

    }

    .about-description {
        max-width: 100%;
    }

}

@media screen and (max-width: 550px) {

    .header-headlines {
        max-width: 100%;
    }

}