* {
    --color-background: #ffffff;
    --color-foreground: #000000;
    --color-0: #020887;
    --color-1: #38369a;
    --color-2: #7ca5b8;
    --color-3: #a9dbb8;
    --color-4: #c6ebbe;

    -webkit-tap-highlight-color: transparent;


}

#cursor-aura {
    position: fixed; /* Il reste à sa place même quand tu scrolles */
    pointer-events: none; /* Il n'interfère pas avec les clics */
    border-radius: 50%; /* Pour qu'il soit rond */
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 70%); /* L'effet de halo */
    transform: translate(-50%, -50%); /* Pour centrer le halo sur le pointeur */
    transition: transform 0.1s ease-out; /* Pour un mouvement fluide */
    z-index: -1; /* Pour qu'il soit au-dessus de tout */
    width: 600px; /* Taille du halo */
    height: 600px; /* Taille du halo */
}


body,
html {
    scroll-behavior: smooth;

    width: 100vw;

    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.separator {
    height: 26px;
}



.button {
    font-family: "Space Grotesk", monospace;

    font-size: 1.2em;

    padding: 15px 35px;
    border-radius: 15px;

    text-decoration: none;
    color: var(--color-foreground);
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    transition: transform .15s ease,
                box-shadow .5s ease,
                filter .5s ease;


    box-sizing: border-box;
    height: fit-content;
    border: 0.2px ridge var(--color-foreground);
}


.button:hover {
    transform: scale(1.01);
    filter: brightness(110%);
    box-shadow: 0px 0px 50px 30px rgba(255, 255, 255, 0.3);
    /* box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1); */
}

.button:active {
    transform: scale(0.95);
    box-shadow: none;
    transition: transform 0.1s ease;
    filter: saturate(150%);
}

p {
    font-family: "Outfit", sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
    color: var(--color-foreground);

    /* max-width: 75%; */

    margin: 0;
    padding: 0;
}

.button-1 {
    background: var(--color-4);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);

    /* padding: 18px 38px; */
}

.button-1:hover {
    box-shadow: 0px 0px 50px 30px rgba(198, 235, 190, 0.3);
    border: 1px solid var(--color-2);
}

.button-1:active {
    box-shadow: 0px 0px 50px 0px rgba(167, 220, 155, 0.3);
}

.button-2 {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px) brightness(130%);
    color: var(--color-foreground);
    /* border: 3px solid var(--color-foreground); */
}

.button-2:hover {
    border: 1px solid rgb(150, 150, 150);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    box-sizing: border-box;
    padding: 30px 75px;

    height: min-content;
    z-index: 100;

    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px) brightness(100%); 
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all .5s ease;
    
    border-bottom: .5px solid transparent;
}

nav * {

    transition: all .5s ease;

}

.nav-free {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px) brightness(130%);
    
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-bottom: .5px solid var(--color-foreground);
}

nav > .nav-header {
    opacity: 0;
}

.nav-free > .nav-header {
    opacity: 1;
}

nav > .nav-links > a {
    color: var(--color-0);
}

nav > .nav-links > .nav-link::after {
    background-color: var(--color-0);
}

.nav-free > .nav-links > .nav-link::after {
    background-color: var(--color-foreground);
}

.nav-free > .nav-links > a {
    color: var(--color-foreground);
}

.nav-right {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav-link {
    font-family: "Space Grotesk", monospace;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-foreground);

    height: fit-content;

    position: relative;
}

.nav-link .icon {
    display: none;
}

.nav-link::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;
    width: 0;

    height: 3px;
    background: black;

    transition: width 0.2s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link-active::after {
	width: 100%;
}

.nav-link-protector {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.language-selector {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



.language-selection-text {
    display: none;
}

.language-choices {
    display: none;

    flex-direction: column;
    padding: 25px;

    position: fixed;
    z-index: 200;
    right: 20px;
    top: 100px;

    backdrop-filter: blur(25px) brightness(130%);
    background-color: rgba(255, 255, 255, .2);
    border: .5px solid black;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
}

.language-choice {
    font-family: "Outfit";
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color .1s ease;
    color: initial;
    text-decoration: none;
}

.language-choice:hover {
    background-color: var(--color-4);
}

.language-choice:active {
    filter: brightness(110%);
}


.blog-button {
    color: var(--color-0);
    transition: all 0.25s ease-in-out;
    box-sizing: border-box;

    border: 3px solid transparent;
    padding: 10px 20px;
    border-radius: 15px;

    background-color: transparent;
}

.blog-button::after {
    height: 0;
}

.blog-button:hover {
    transform: scale(1.05);
    border: 3px solid var(--color-foreground);
    background-color: var(--color-background);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
}

.nav-header {
    font-family: "Space Grotesk", monospace;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--color-0);
}
