@media screen and (orientation: portrait) {

    #section-projects {
        padding-bottom: 120px;
    }

    .projects-expo {
        width: 100%;
    }

    .projects-expo-filters {
        display: flex;
        flex-wrap: wrap;
    }

    .project {
        width: inherit;
    }

    .project-image {
        min-width: initial;
        width: inherit;
    }

    #project-page {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        border-radius: 0;
        border: none;
        flex-direction: column;

        overflow-y: scroll;
    }

    #project-image {
        max-width: initial;
    }

    .project-text-wrapper {
        overflow-y: visible; 
    }

}