nav {
    position: static;
}


.blog-button {
    color: var(--color-foreground);
}

#section-projects {

    gap: 25px;

}

.projects-expo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    width: 350px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    opacity: 1;

    text-decoration: none;

    position: relative;

}

.project:hover {
    filter: brightness(110%);
}

.project::after {
    content: '';
    position: absolute;

    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;

    z-index: -2;
    background-color: transparent;
    transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out, top .2s ease, bottom .2s ease, left .2s ease, right .2s ease;
    border-radius: 20px;

}

.project:hover::after {
    background-color: rgba(0, 0, 0, 0.025);
    box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.025);
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
}

.project:nth-child(n) {
    transition: transform .15s ease-in-out, filter .25s ease;
    filter: brightness(1);
}



.project:hover:nth-child(n) {
    transform: scale(98%);
    filter: brightness(1.1);
}

.project:active:nth-child(n) {
    transition: transform .1s ease;
    transform: scale(95%);
}

.project-image {
    min-width: 350px;
    min-height: 200px;

    background-position: center;
    background-size: cover;

    border-radius: 15px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

}

.project-title {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    
    color: var(--color-foreground);
    text-decoration: none;
}

.project-description {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 0.9em;

    color: var(--color-foreground);
    text-decoration: none;
}

.projects-expo-title {
    font-family: "Space Grotesk", monospace;
    font-weight: bold;
    font-size: 2.5em;

    color: var(--color-0);
    padding: 0;
    margin: 0;
}

.projects-expo-filters {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 10px;

}

.filter {
    padding: 5px 25px;

    border: .5px solid var(--color-foreground);
    border-radius: 50px;

    cursor: pointer;
    
    font-family: "Outfit", sans-serif;
    font-weight: normal;
    font-size: 1em;
    transition: all .25s ease;
}

.filter:hover {
    transform: scale(105%);
    border: .5px solid rgb(150, 150, 150);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
    transition: all .15s ease;
}

.filter:active {
    transform: scale(98%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .05)
}

.filter.filter-active {
    background-clip: border-box;
    background-origin: border-box;
    background: linear-gradient(to right, var(--color-4), var(--color-3));
    border: .5px solid var(--color-foreground);
}

.filter.filter-active:hover {
    border: .5px solid var(--color-2);
    transition: all .15s ease;
}