nav {
    position: static;
}


.blog-button {
    color: var(--color-foreground);
}

#section-projects {

    gap: 25px;

}

.projects-expo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    width: 350px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    opacity: 1;

    text-decoration: none;

    position: relative;

    cursor: pointer;

}

.project:hover {
    filter: brightness(110%);
}

.project::after {
    content: '';
    position: absolute;

    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;

    z-index: -2;
    background-color: transparent;
    transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out, top .2s ease, bottom .2s ease, left .2s ease, right .2s ease;
    border-radius: 20px;

}

.project:hover::after {
    background-color: rgba(0, 0, 0, 0.025);
    box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.025);
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
}

.project:nth-child(n) {
    transition: transform .15s ease-in-out, filter .25s ease;
    filter: brightness(1);
}

.project:hover:nth-child(n) {
    transform: scale(98%);
    filter: brightness(1.1);
}

.project:active:nth-child(n) {
    transition: transform .1s ease;
    transform: scale(95%);
}

.project-image {
    min-width: 350px;
    min-height: 200px;

    background-position: center;
    background-size: cover;

    border-radius: 15px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

}

.project-title {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    
    color: var(--color-foreground);
    text-decoration: none;
}

.project-description {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 0.9em;

    color: var(--color-foreground);
    text-decoration: none;
}

.projects-expo-title {
    font-family: "Space Grotesk", monospace;
    font-weight: bold;
    font-size: 2.5em;

    color: var(--color-0);
    padding: 0;
    margin: 0;
}

.projects-expo-filters {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 10px;

}

.filter {
    padding: 5px 25px;

    border: .5px solid var(--color-foreground);
    border-radius: 50px;

    cursor: pointer;
    
    font-family: "Outfit", sans-serif;
    font-weight: normal;
    font-size: 1em;
    transition: all .25s ease;
}

.project-view-filter {
    padding: 5px 25px;

    border: .5px solid var(--color-foreground);
    border-radius: 50px;

    
    font-family: "Outfit", sans-serif;
    font-weight: normal;
    font-size: 1em;
}

.filter:hover {
    transform: scale(105%);
    border: .5px solid rgb(150, 150, 150);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
    transition: all .15s ease;
}

.filter:active {
    transform: scale(98%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .05)
}

.filter.filter-active {
    background-clip: border-box;
    background-origin: border-box;
    background: linear-gradient(to right, var(--color-4), var(--color-3));
    border: .5px solid var(--color-foreground);
}

.filter.filter-active:hover {
    border: .5px solid var(--color-2);
    transition: all .15s ease;
}

#project-page {

    position: fixed;
    z-index: 2000;

    top: 50px; 
    bottom: 50px;
    left: 50px;
    right: 50px;

    background-color: rgba(255, 255, 255, .75);
    backdrop-filter: blur(50px) brightness(120%);

    border: .5px solid var(--color-foreground);
    border-radius: 25px;

    box-shadow: 0px 0px 50px rgba(0, 0, 0, .25);

    display: none;
    flex-direction: row;

    gap: 35px;

    

    padding: 75px;


} 

.project-text-wrapper {

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex; 
    flex-direction: column;
    gap: 15px;

}

.project-text-wrapper h2 {

    font-family: "Outfit", sans-serif;
    padding: 0;
    margin: 0;
    margin-top: 5px;

}

.project-text-wrapper p {

    line-height: 1.5;
    font-size: 1.2em;
    letter-spacing: -.2px;
    max-width: fit-content;

}

#project-page::-webkit-scrollbar {
    display: none;
}

.project-page-close-button {
    position: fixed; 
    z-index: 2001;

    top: 10px;
    right: 12px;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px;
    border-radius: 25px;

    transition: background-color .2s ease,
    transform .3s ease,
    box-shadow .2s ease;

}

.project-page-close-button:hover {
    
    background-color: #A44A3F;
    transform: scale(102%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .05);
}

.project-page-close-button:hover svg {
    filter: brightness(200);
    
}

.project-page-close-button:active {

    transform: scale(90%);
    transition: transform .05s ease;

}

.project-links {
    font-family: "Outfit", sans-serif;
    font-size: 1em; 
}

.project-links a {

    font-family: "Outfit", sans-serif;
    font-size: 1em;

    text-decoration: none;
    color: var(--color-0);

}

#project-image {
    max-width: 50%;
    

    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
}

#project-title {
    font-family: "Space Grotesk", monospace;
    font-size: 2.25em;
    font-weight: 700;
}