nav {
    position: static;
    padding-bottom: 30px;
}

.back-protector { 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;

    transition: all .25s ease;
    border-radius: 5px;

}


#back {

    font-family: "Outfit", sans-serif;
    text-decoration: none;
    color: red;

    transition: color .25s ease;
}

.back-protector:hover {
    background-color: red;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .1);
    transform: scale(105%);
}



.back-protector:hover #back {
    color: white;
}

.back-protector:active {
    transition: transform .1s ease;
    transform: scale(98%);
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 75px;
    gap: 25px;
}

#project-image {
    height: 350px;
    width: 100%;
    
    background-size: cover;
    background-position: center;

    border-radius: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow .25s ease;
}

#project-image:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

#project-title {
    padding: 0;
    margin: 0;

    font-family: "Space Grotesk", monospace;
    font-size: 2.5em;
    font-weight: bold;
}

#project-description {
    padding: 0;
    margin: 0;

    font-family: "Outfit", sans-serif;
    font-size: 1em;
    font-weight: 400;
}

